<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background: black;
        }
        #output {
            min-height: 100%;
        }
        .copy-btn {
            position: absolute;
            right: 2rem;
            top: 2rem;
            font-family: monospace;
            padding: 0.4rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            user-select: none;
            color: white;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" /></svg>');
            width: 1.5rem;
            aspect-ratio: 1/1;
        }
        .tippy-box {
            font-family: monospace;
            background-color: #243551;
        }
    </style>
    <script defer src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
</head>
<body>

    <div id="output">
        {{.Content}}
    </div>

    <script defer src="https://unpkg.com/@popperjs/core@2"></script>
    <script defer src="https://unpkg.com/tippy.js@6"></script>
    <script defer src="/static/copy-btn.js"></script>
</body>
</html>